.containerPage{
    margin-left: 2.5rem;
    margin-right: 2.5rem;
    margin-bottom: 5.938rem;
    margin-top: 3.313rem;
}
.title-section{
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
}
.button-upload{
  width: 11.438rem;
  height: 2.25rem;
}
.input-search {
  border-color: #1214152B;
  /* width: 20.563rem; */
  background-color: var(--grey);
}
.ant-input-affix-wrapper{
  height: 2.25rem!important;
}
.button-upload:hover, .button-upload:focus {
  background-color: var(--blue1) !important;
  color: white !important;
  border: none !important;
  outline: none !important;
  box-shadow: none !important; 
}
.documentTable {
    width: 100%;
    border-collapse: collapse;
  }
  
  .documentTable td {
    padding: 8px; 
    text-align: left; 
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #121415

  }
  .black-link {
    color: black;
    text-decoration: underline black; /* opcional, para quitar el subrayado */
    font-weight: 460;
}
.black-link:hover {
    color: black!important;
    text-decoration: underline black; /* opcional, para quitar el subrayado */
    font-weight: 600;
  }
  
  .documentTable td:nth-child(1) {
    width: 20%; 
  }
  
  .documentTable td:nth-child(2) {
    width: 60%; 
  }
  
  .documentTable td:nth-child(3) {
    width: 20%; 
  }
  
  .ant-modal-title {
    font-size: 24px; 
    border-bottom: 1px solid #cfd0d0; /* Línea gris en la parte inferior del título */
    padding-bottom: 16px;
  }

  .custom-modal-wrapper .modal-add-student .modal-content {
    width: 100%;
    padding-right: 2.25rem;
    padding-right: 2.25rem;
  }
  .modal-content{
    margin-bottom: 2.25rem;
    margin-top: 2.25rem;
  }
  .input-group {
    display: flex;
    width: 100%;
    align-items: end;
  }
  .tx-or{
    font-size: 16px;
    color: var(--grey);
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;

  }
  
  .inputModal {
    margin-right: 1.25rem;
    flex-grow: 1; /* Ocupa todo el espacio disponible */
  }
  
  .button-copy-invite {
    flex-shrink: 0; /* Evita que el botón se reduzca de tamaño */
  
  }
  
  .modal-add-student .ant-modal-body {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  

@media (max-width: 768px) {
    .containerPage{
        margin-left: 2.5rem;
        margin-right: 2.5rem;
        margin-bottom: 5.938rem;
        margin-top: 2.5rem;

    }
    .title-section{
      display: flex;
      flex-direction: column;
      text-align: center;
      gap: 10px;
      align-items: start;
    }
    .search-button-container{
      display: flex;
      flex-direction: column;
      text-align: center;
      gap: 10px;
      align-items: start;
    }
  }
  @media (max-width: 979px) {
    .title-section{
      display: flex;
      flex-direction: column;
      text-align: center;
      gap: 10px;
      align-items: start;
    }

  }