.footer {
    background-color: var(--grey);
    color: var(--black);
    padding: 1rem;
    text-align: center;
    width: 100%;
    position: fixed;
        bottom: 0;
        left: 0;
    
    position: fixed;
        bottom: 0;
        left: 0;
  }


  @media (max-width: 768px) {

    .footer {
        position: fixed;
        bottom: 0;
        left: 0;
      }
      
  }