.bar-chart-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.bar-chart-container h3 {
  text-align: left;
}


/* Estilo para el modal que ocupe el tamaño del dashboard container */
.fullscreen-modal .ant-modal {
  width: 100% !important; /* Ocupa el 100% del ancho del contenedor */
  max-width: none;
  top: 0;
  left: 0;
  height: 100%; /* Ocupa el 100% de la altura */
  border-radius: 0; /* Sin bordes redondeados */
  padding: 0;
}

.fullscreen-modal .ant-modal-body {
  height: calc(100% - 55px); /* Resta la altura del encabezado del modal */
  overflow-y: auto;
  padding: 2rem; /* Ajusta el padding según sea necesario */
}

.fullscreen-modal .ant-modal-header {
  padding: 16px;
  background-color: var(--white);
  border-bottom: 1px solid #f0f0f0;
}

.fullscreen-modal .ant-modal-close-x {
  font-size: 18px;
}

.fullscreen-modal .ant-modal-footer {
  display: none; /* Oculta el footer del modal */
}
