.chatbot__container {
  display: flex;
  height: 75vh; /* Ocupa toda la altura de la ventana */
  margin: 2rem;
  background-color: var(--white);
  border-radius: 8px;
  position: relative;
  margin: 2rem;
    padding: 1rem;
  overflow: hidden; /* Oculta el desbordamiento del contenedor principal */
}

.chatbot__content {
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;
}

.chatbot__messages {
  flex: 1;
  padding: 10px;
  overflow-y: auto; /* Habilita el desplazamiento vertical */
  scrollbar-width: none; /* Oculta la barra de desplazamiento en Firefox */
  display: flex;
  flex-direction: column;
 
}

.chatbot__messages::-webkit-scrollbar {
  display: none; /* Oculta la barra de desplazamiento en WebKit (Chrome, Safari) */
}

.chatbot__message {
  display: flex;
  flex-direction: column;
  max-width: 80%;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 4px;
  width: 65%;

}

.chatbot__message.bot {
  align-self: flex-start;
  background-color: #f0f0f0; /* Fondo gris para el bot */
}

.chatbot__message.user {
  align-self: flex-end;
  background-color: var(--blue1); /* Fondo azul para el usuario */
  color: white;
}

.chatbot__message-header {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.chatbot__message-header .icon {
  margin-right: 10px;
}

.chatbot__message-header .time {
  font-size: 12px;
  color: #555;
}

.chatbot__message.user .chatbot__message-header .time {
  color: white; /* Cambiar el color del texto a blanco */
}

.chatbot__message-text {
  font-size: 14px;
}

.chatbot__input {
  display: flex;
  width: 100%;
  padding: 10px;
  background-color: white;
}

.chatbot__input input {
  flex: 1;
  padding: 10px;
  border-radius: 10px 0 0 10px;
  border: 1px solid var(--blue1);
}

.chatbot__input button {
  border-radius: 0 10px 10px 0;
  border: none;
  background-color: #007bff;
  color: white;
  padding: 10px;
  cursor: pointer;
}

.chatbot__sidebar {
  width: 6rem;
  height: 100%;
  right: 0;
  padding: 1.5rem .4rem;
  background-color: var(--grey);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 1.5rem;
  transition: width 0.3s ease;
  cursor: pointer;

}

.chatbot__sidebar.expanded {
  width: 15rem;
}

.chatbot__sidebar--button {
  background-color: transparent;
  color: #6c6d6e;
}

.chatbot__sidebar--button:hover {
  color: var(--white);
}

.chatbot__sidebar--upload {
  margin-top: auto;
}

@media (max-width: 768px) {
  .chatbot__sidebar {
    position: sticky;
    top: 0;
    right: 0;
    height: auto;
  }
}
