.chatbot__container {
    flex: 1;
    display: flex;
    margin: 2rem;
    padding: 1rem;
    position: relative;
  height: 80%;
    background-color: var(--white);
    border-radius: 8px;
    gap: 1rem;
  }
  
  .chatbot__input {
    display: flex;
    align-self: flex-end;
    width: 100%;
    /* gap: 1rem; */
    
  }
  
  .chatbot__input input {
    flex: 1;
    padding: 10px;
    border-radius: 10px 0 0 10px;
    border: 1px solid var(--blue1);
  }
  
  .chatbot__input button {
    border-radius: 0 10px 10px 0;
    border: none;
  }

  .chatbot__sidebar{
    width: 6rem;
    height: 100%;
    padding: 1.5rem .4rem;
    background-color: var(--grey);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 1.5rem;
    transition: width 0.3s ease;
    cursor: pointer;
  }

  .chatbot__sidebar.expanded {
    width: 15rem;
    
}

  .chatbot__sidebar--button{
    background-color: transparent;
    color: #6c6d6e
  }
  .chatbot__sidebar--button:hover{
 color: var(--white)
  }

  .chatbot__sidebar--upload{  
  margin-top: auto ; 
  }


  
  @media (max-width: 768px) {

    .chatbot__sidebar{
     position: sticky;
     top: 0;
     right: 0;
     height: auto;
    }

    
  
}